<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Site.master.cs" Inherits="FoodOrderManagement.SiteMaster" %>

<!DOCTYPE html>

<html>
<body>
<form runat="server">

<h2>Food Order Management</h2>

<a href="MenuList.aspx">Menu</a> |
<a href="AddEditMenu.aspx">Add</a> |
<a href="OrderStats.aspx">Stats</a> |
<a href="Logout.aspx">Logout</a>

<hr />

<asp:ContentPlaceHolder ID="MainContent" runat="server" />

</form>
</body>
</html>
